@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
    background: #f4f6f9; 
}

/* TOPBAR */
.topbar {
    margin-left: 250px;
    background: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

/* CONTENT */
.content {
    margin-left: 250px;
}

.pagination {

    margin-bottom: 0;
    font-size: 12px;
}

 .pagination .page-link {

    padding: 2px 6px !important;
    font-size: 12px !important;

    min-width: 28px;
    height: 28px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination .page-item {

    margin: 0 2px;
} 

